@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    --fg: black;
    --bg: #F4EFEC;
    --accent: crimson;
}

html.dark-theme {
    --fg: #a6a28c;
    --bg: #20201d;
    --accent: #60ac39;
}

button.theme-toggle {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: fixed;
    bottom: 1em;
    right: 1em;
}

html {
    color: var(--fg);
    /* background-color: white; */
    background-color: var(--bg);
    
    /* font-family: 'Lato', 'Open Sans', 'Consolas', sans-serif; */
    font-family: 'EB Garamond', 'Garamond', 'Playfair Display', serif;
}

body {
    display: flex;
    flex-flow: row-reverse nowrap;
}

a {
    color: inherit;
    /* text-decoration: none; */
    text-decoration: underline;
}
a:hover {
    color: var(--accent);
    text-decoration: underline;
}

img {
    max-width: 100%;
    margin: 0 auto;
}

video {
    max-width: 100%;
    margin: 0 auto;
}

ul, ol {
    list-style-position: inside;
    /* margin-left: 1em; */
}
ul {
    list-style-type: "- ";
}
ol {
    list-style-type: decimal;
}
ul ul, ul ol, ol ol, ol ul {
    padding-left: 1em;
}

details summary {
    cursor: pointer;
    user-select: none;
}
details summary:hover {
    text-decoration: underline;
}

figure {
    margin-bottom: 1em;
}
figure figcaption {
    text-align: center;
    font-style: italic;
}

pre {
    font-family: monospace;
    line-height: 1;
}

header {
    flex: 1 100;
    writing-mode: vertical-lr;

    padding: 1em;
}

nav {
    display: block;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: block;
}
nav ul li {
    display: inline-block;
    margin: 0 0 1ch 0;
}
nav ul li a {
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1 1 50%;
    max-width: 52ch;
    margin-bottom: 4em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'EB Garamond', 'Garamond', 'Playfair Display', serif;
}
h1 {
    color: var(--accent);

    font-size: 3em;
}
h2 {
    color: var(--accent);

    font-size: 2em;

    margin: 1em 0 0 0;
}

p {
    text-align: justify;
    margin-bottom: 1em;
}

footer {
    flex: 1 100;
    writing-mode: vertical-rl;

    /* outline: 1px solid blue; */
    
    padding: 1em;
}

code {
    font-family: monospace;
    border: 1px solid var(--fg);
    padding-left: 0.5ch;
    padding-right: 0.5ch;
}

#secret:not(:target) .secret {
    display: none;
}
